/* this is for you to complete */
li > ul
{
	color: blue;

}
ul ul ul {

	list-style: none;

}

li:first-child{
	font-weight: bold;
}
ul a{
	color: red;
}
div a{
	color: green;
}
div:nth-child(2) a{
	color: purple;
	background-color: yellow;
}