body{
	background-color: #f0f8ff;
}
#d2{
	border-style: dashed;
	border-color: red; 
	color: red;
}
div{
	width: 75%;
	min-width: 500px;
	border-style: solid;
	border-color: #333333;
	border-width: 1px;
	margin-bottom: 1em;
	padding: 0.5em;
	background-color: white;
	box-shadow: 5px 5px 5px;
	border-radius: 10px;
}
.hl1{
	background-color: #fdfd96; 
	font-weight: bold; 
	padding-left: 0.5em; 
	padding-right: 0.5em;
}

.hl2{
	background-color: #fdca96; 
	font-weight: bold; 
	padding-left: 0.5em; 
	padding-right: 0.5em;
}

